{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="login">
        <div class="login__container">
            <div class="login__img">
                <img src="{% static 'imgs/login/1.png' %}" alt="Login Image">
            </div>

            <form method="POST" class="login__form">
                {% csrf_token %}

                <!-- Форма входа -->
                {% for field in form %}
                    <div class="login__field {% if field.errors %}field--error{% endif %}">
                        <label for="{{ field.id_for_label }}" class="login__label">{{ field.label }}</label>
                        <input type="email" name="email" class="login__input" placeholder="Введите ваш email" id="{{ form.email.id_for_label }}">
                        {% if field.errors %}
                            <div class="form-error">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p> 
                                {% endfor %}
                            </div>
                        {% endif %}
                        <!-- Вывод ошибок для конкретного поля -->
                    </div>
                {% endfor %}

                  <button type="submit" class="login__btn btn-black">Отправить ссылку для восстановления пароля</button>
            </form>
        </div>
    </div>
  
  <p class="login__text">После этого вам будет отправлено письмо с инструкциями для восстановления пароля.</p>
{% endblock %}
