{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="login">
        <div class="login__container">
            <div class="login__img">
                <img src="{% static 'imgs/login/1.png' %}" alt="Login Image">
            </div>

            <form method="POST" class="login__form">
                {% csrf_token %}
                <h2 class="login__title">Установка нового пароля</h2>
                <p class="login__text">Пожалуйста, введите ваш новый пароль:</p>

                <!-- Форма входа -->
                {% for field in form %}
                    <div class="login__field {% if field.errors %}field--error{% endif %}">
                        <label for="{{ field.id_for_label }}" class="login__label">{{ field.label }}</label>
                        <input type="{{ field.field.widget.input_type }}" 
                        name="{{ field.name }}" 
                        id="{{ field.id_for_label }}" 
                        class="login__input {{ field.field.widget.attrs.class }}" 
                        placeholder="{{ field.field.widget.attrs.placeholder }}">
                    </div>
                    {% if field.errors %}
                        <div class="form-error">
                            {% for error in field.errors %}
                                <p>{{ error }}</p> 
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
                  <button type="submit" class="login__btn btn-black">Сохранить пароль</button>
            </form>
        </div>
    </div>
  
{% endblock %}
