{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="login">
        <div class="login__container">
            <div class="login__img">
                <img src="{% static 'imgs/login/1.png' %}" alt="Login Image">
            </div>

            <form method="POST" class="login__form">
                {% csrf_token %}
                <h2 class="login__title">Пароль изменён</h2>
                <p class="login__text">Ваш пароль был успешно изменён. Теперь вы можете войти с новым паролем.</p>

                <div class='login__back'>
                    <a href="{% url 'login' %}">Вернуться к входу</a>
                  </div>
                  
            </form>
        </div>
    </div>
  
{% endblock %}
