{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="login">
        <div class="login__container">
            <div class="login__img">
                <img src="{% static 'imgs/login/1.png' %}" alt="Login Image">
            </div>
        </div>
    </div>
    <h2 class="login__title">Письмо отправлено</h2>
 
  <p class="login__text">Инструкции для сброса пароля были отправлены на указанный email. Проверьте вашу почту.</p>
  <div class='login__back'>
    <a href="{% url 'login' %}">Вернуться к входу</a>
  </div>


{% endblock %}
