//==========tabs
.event{
  text-align: left;

}
.event__container{

}
.eventTabs {
    width: 100%;
    margin: 20px auto;
    padding-top: 20px;
    padding-bottom: 60px;
    font-family: Arial, sans-serif;
    @media (max-width: 425px) {
    }
    &__nav {
      margin-bottom: 20px;
    }
  
    &__btn {
      flex: 1;
      padding: 10px 15px;
      text-align: center;
      border: none;
      cursor: pointer;
      font-size: 24px;
      font-weight: bold;
      color: #333;
      transition: background 0.3s, color 0.3s;
      @media (max-width: 768px) {
        font-size: 18px;
      }
        @media (max-width: 425px) {
            font-size: 16px;
        }
        @media (max-width: 360px) {
            font-size: 14px;
        }
      &.active {
        color: #000;
        border-bottom: 3px solid #000000;

      }
      &:hover{
        background: #ffffff;
      }
  
    }
  
    &__content {
      display: flex;
      justify-content: space-between;
      border: 1px solid #ddd;
      border-top: none;
      font-size: 24px;
      @media (max-width: 768px) {
        font-size: 18px;
      }
      @media (max-width: 425px) {
        font-size: 16px;
      }
   
    }
  
    &__panel {
      display: none;
      &:last-child{
      }
      &.active {
        display: block;
        flex: 0 0 100%;
      }
    }

    &__events{
      // max-width: 800px;
      // margin: 0 auto;
    }
  
    &__list {
      list-style: none;
      padding: 20px;
      margin: 0;
      background: #fff;
      border-radius: 10px;
      max-height: 400px;
      overflow: auto;
      @media (max-width: 768px) {
        margin-bottom: 40px;
      }
    }
  
    &__item {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid #8f8f8f;
      transition: background 0.3s, color 0.3s;
      @media (max-width: 768px) {
        padding: 5px;
      }
      &:not(:last-child){
        margin-bottom: 20px;
      }
      &:hover{
        background: #0000000c;
        transition: background 0.3s, color 0.3s;
      }
    }
  
    &__name {
      font-weight: bold;
      font-size: 20px;
      line-height: 120%;
    }
  
    &__date {
      color: #555;
    }
  }
  //==============event
  .event {
		// .event__items
		&__items {
      display: flex;
      justify-content: space-between;
      @media (max-width: 768px) {
        flex-direction: column;
      }
		}
		// .event__item
		&__item {
      &:first-child{
        flex: 0 0 30%;
      }
      &:last-child{
        flex: 0 0 68%;
      }
		}
		// .event__img
		&__img {
      max-width: 600px;
      @media (max-width: 768px) {
        max-width: 300px;
        margin-bottom: 20px;
      }
		}
		// .event__info
		&__info {

		}
		// .event__title
		&__title {
      font-size: 38px;
      font-weight: 600;
      margin-bottom: 20px;
      line-height: 120%;
      width: 80%;
      @media (max-width: 992px) {
        font-size: 28px;
      }
      @media (max-width: 768px) {
        
      }
		}
		// .event__description
		&__description {
      margin-bottom: 20px;
      font-weight: 100;
      font-size: 24px;
      color: #000000ad;
      width: 80%;
      line-height: 120%;
      @media (max-width: 992px) {
        font-size: 16px;
      }
      @media (max-width: 768px) {
      
      }
		}
		// .event__btn
		&__btn {
      background: #000;
      color: #fff;
      padding: 10px 15px;
      margin-bottom: 20px;
      font-size: 24px;
      @media (max-width: 992px) {
        font-size: 18px;
      }
      @media (max-width: 768px) {
       
      }
		}
		// .event__place
		&__place {
      font-size: 18px;
      margin-bottom: 10px;
      @media (max-width: 992px) {
        font-size: 12px;
      }
		}
		// .event__date
		&__date {
      font-size: 18px;
      @media (max-width: 992px) {
        font-size: 12px;
      }
		}
}
