.eventsTabs {
  padding: 2rem;
  border-radius: 16px;
  color: #e0e0e0;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
  @media (max-width: 768px) {
    padding: 0 1.5rem;
  }
  @media (max-width: 425px) {
    padding: 0rem;
    border-radius: 0px;
  }

  &__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    gap: 1rem;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: .5rem;
    }
    @media (max-width: 425px) {
      margin: 10px;
    }
  }
  &__content{
    background-color: #121212;
    padding: 2rem;
    border-radius: 20px;
    @media (max-width: 425px) {
      padding: 1rem;
      border-radius: 0px;
    }
  }

  &__btn {
    background-color: #1e1e1e;
    color: #ccc;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;

    &.active,
    &:hover {
      background-color: #333;
      color: #fff;
    }
  }

  &__panel {
    display: none;

    &.active {
      display: block;
      animation: fadeIn 0.3s ease-in;
    }
  }

  &__tableWrapper {
    overflow-x: auto;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
  }

  &__thead {
    background-color: #1e1e1e;
  }

  &__tr {
    border-bottom: 1px solid #333;
    transition: all ease .3s;

    &:not(.eventsTabs__thead .eventsTabs__tr):hover {
      background-color: #000000;
      cursor: pointer;
      transition: all ease .3s;
    }
  }

  &__th, &__td {
    padding: 0.8rem 1rem;
    text-align: left;
    line-height: 130%;
    @media (max-width: 768px) {
      text-align: center;

    }
  }

  &__th {
    font-weight: 600;
    color: #aaa;
    @media (max-width: 768px) {
      &.th-status, &.th-place  {
        display: none;
      }

    }
  }

  &__td {
    color: #ddd;
    @media (max-width: 768px) {
      &.td-status, &.td-place  {
        display: none;
      }

    }
  }
  .td-status{

  }

  &__link {
    display: block;
    color: inherit;
    text-decoration: none;

    
  }

  &__noevents {
    text-align: center;
    color: #888;
    font-size: 0.95rem;
    margin-top: 2rem;

    img {
      width: 120px;
      margin-bottom: 1rem;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
