.eventsTabs {
  padding: 2rem;
  border-radius: 16px;
  color: #e0e0e0;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.eventsTabs__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
}
.eventsTabs__content {
  background-color: #121212;
  padding: 2rem;
  border-radius: 20px;
}
.eventsTabs__btn {
  background-color: #1e1e1e;
  color: #ccc;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}
.eventsTabs__btn.active, .eventsTabs__btn:hover {
  background-color: #333;
  color: #fff;
}
.eventsTabs__panel {
  display: none;
}
.eventsTabs__panel.active {
  display: block;
  animation: fadeIn 0.3s ease-in;
}
.eventsTabs__tableWrapper {
  overflow-x: auto;
}
.eventsTabs__table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}
.eventsTabs__thead {
  background-color: #1e1e1e;
}
.eventsTabs__tr {
  border-bottom: 1px solid #333;
  transition: all ease 0.3s;
}
.eventsTabs__tr:not(.eventsTabs__thead .eventsTabs__tr):hover {
  background-color: #000000;
  cursor: pointer;
  transition: all ease 0.3s;
}
.eventsTabs__th, .eventsTabs__td {
  padding: 0.8rem 1rem;
  text-align: left;
}
.eventsTabs__th {
  font-weight: 600;
  color: #aaa;
}
.eventsTabs__td {
  color: #ddd;
}
.eventsTabs__link {
  display: block;
  color: inherit;
  text-decoration: none;
}
.eventsTabs__noevents {
  text-align: center;
  color: #888;
  font-size: 0.95rem;
  margin-top: 2rem;
}
.eventsTabs__noevents img {
  width: 120px;
  margin-bottom: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}