

//==========tabs
.eventsTabs {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    font-family: Arial, sans-serif;
    @media (max-width: 425px) {
        padding-left: 10px;
        padding-right: 10px;
    }
    &__nav {
      display: flex;
      border-bottom: 2px solid #ddd;
      margin-bottom: 10px;
    }
  
    &__btn {
      flex: 1;
      padding: 10px 15px;
      text-align: center;
      border: none;
      cursor: pointer;
      font-size: 24px;
      font-weight: bold;
      color: #333;
      background: transparent;
      transition: background 0.3s, color 0.3s;
        @media (max-width: 600px) {
          font-size: 18px;
        }
        @media (max-width: 425px) {
            font-size: 16px;
        }
        @media (max-width: 360px) {
            font-size: 14px;
        }
      &.active {
        position: relative;
        &::after{
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          background: #000;
          width: 60%;
          height: 4px;
        }
      }
  
      &:hover {
       
      }
    }
  
    &__content {
      padding: 15px 25px;
      font-size: 16px;
      border: 2px solid #000;
      border-radius: 10px;
      height: 350px;
      @media (max-width: 425px) {
        font-size: 14px;
    }
    @media (max-width: 360px) {
        font-size: 12px;
    }
    }
  
    &__panel {
      display: none;
  
      &.active {
        display: block;
      }
    }
  
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    &__item {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      cursor: pointer;
      border-bottom: 1px solid #8f8f8f;
      transition: all ease .3s;
      &:not(:last-child){
        margin-bottom: 10px;
      }
      &:hover{
        transform: scale(1.01);
        transition: all ease .3s;
      }
      &:hover .eventsTabs__name{
        transform: scale(1.01);
        transition: all ease .3s;
      }
      
    }
  
    &__name {
      font-weight: bold;
      color: #000;
      font-size: 18px;
      font-weight: 300;
     
    }
  
    &__date {
      color: #555;
    }
    &__noevents{
      text-align: center;
      font-size: 18px;
      line-height: 130%;
      & img{
        max-width: 100%;
        width: 250px;
        margin-bottom: 20px;
      }
    }
  }
  