.eventsTabs {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 60px;
  font-family: Arial, sans-serif;
}
@media (max-width: 425px) {
  .eventsTabs {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.eventsTabs__nav {
  display: flex;
  margin-bottom: 10px;
}
.eventsTabs__btn {
  flex: 1;
  padding: 10px 15px;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background: transparent;
  transition: background 0.3s, color 0.3s;
}
@media (max-width: 600px) {
  .eventsTabs__btn {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .eventsTabs__btn {
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  .eventsTabs__btn {
    font-size: 14px;
  }
}
.eventsTabs__btn.active {
  position: relative;
}
.eventsTabs__btn.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  width: 60%;
  height: 4px;
}
.eventsTabs__content {
  padding: 15px 25px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 10px;
  height: 350px;
}
@media (max-width: 425px) {
  .eventsTabs__content {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .eventsTabs__content {
    font-size: 12px;
  }
}
.eventsTabs__panel {
  display: none;
}
.eventsTabs__panel.active {
  display: block;
}
.eventsTabs__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.eventsTabs__item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  cursor: pointer;
  border-bottom: 1px solid #8f8f8f;
  transition: all ease 0.3s;
}
.eventsTabs__item:not(:last-child) {
  margin-bottom: 10px;
}
.eventsTabs__item:hover {
  transform: scale(1.01);
  transition: all ease 0.3s;
}
.eventsTabs__item:hover .eventsTabs__name {
  transform: scale(1.01);
  transition: all ease 0.3s;
}
.eventsTabs__name {
  font-weight: bold;
  color: #000;
  font-size: 18px;
  font-weight: 300;
}
.eventsTabs__date {
  color: #555;
}
.eventsTabs__noevents {
  text-align: center;
  font-size: 18px;
  line-height: 130%;
}
.eventsTabs__noevents img {
  max-width: 100%;
  width: 250px;
  margin-bottom: 20px;
}