@charset "UTF-8";
.sportgroundMap {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  height: 0;
  margin: 0 auto;
  padding-bottom: 56.25%;
  position: relative;
}
.sportgroundMap__map {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .sportgroundMap__map {
    height: 100%;
  }
}

.sportground {
  margin-bottom: 60px;
}
.sportground__items {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
@media (max-width: 768px) {
  .sportground__items {
    flex-wrap: wrap;
  }
}
.sportground__container {
  padding: 0 20px;
  max-width: 1800px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .sportground__container {
    padding: 40px 20px;
  }
}
.sportground__item:first-child {
  flex: 0 0 65%;
  overflow: hidden;
  position: relative;
  padding: 0 60px;
}
@media (max-width: 768px) {
  .sportground__item:first-child {
    flex: 0 0 100%;
  }
}
.sportground__item:last-child {
  flex: 0 0 35%; /* Текст займет одну часть пространства */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Выравнивание текста по верхнему краю */
}
@media (max-width: 768px) {
  .sportground__item:last-child {
    flex: 0 0 100%;
  }
}
.sportground__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}
.sportground__adress {
  display: flex;
  font-size: 16px;
  line-height: 130%;
}
.sportground__adress span {
  font-weight: 600;
  margin-right: 5px;
}

.slick-prev img, .slick-next img {
  width: 30px;
  height: auto;
  display: block;
}

.sportground-slider img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .sportground-slider img {
    max-height: 300px;
  }
  .slick-prev, .slick-next {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .sportground-slider img {
    max-height: 250px;
  }
  .slick-prev, .slick-next {
    font-size: 16px;
  }
}
.slick-prev {
  left: -60px !important;
  background-image: url("{% static 'imgs/team/arrow-r.svg' %}") !important;
}

.slick-next {
  right: -60px !important;
  background-image: url("{% static 'imgs/team/arrow-r.svg' %}") !important;
}

.slick-next, .slick-prev {
  width: 40px !important;
  height: 40px !important;
}

.slick-next:before, .slick-prev:before {
  display: none;
}