
{% load static %}


{% include "base.html" %}
{% include "header.html" %}

<div class="main">
  <div class="chapter">
    <div class="profile__intro">
        <div class="chapter__logo">
            <img src="{% static 'imgs/intro/textLogo.png' %}" alt="">
            <div class="chapter__title">Статьи</div>
        </div>
    </div>
</div>

<div class="article">
    <div class="article__container container">
        <div class="article__items">
            <div class="article__item">
                <img src="{{ article.image.url }}" alt="" class="article__img">
            </div>
            <div class="article__item">
                <div class="article__info">
                    <div class="article__title">{{ article.title }}</div>
                    <div class="article__description">
                        {{ article.description|safe }}
                    </div>
                    <div class="article__date">Дата публикации: {{ article.created_at|date:"j E Y" }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

