{% extends "base.html" %}
{% load static %}

{% block title %}WorkoutTime{% endblock %}

{% block content %}

{% include "header.html" %}

  <main>
    <div class="chapter">
      <div class="chapter__container container">
          <div class="chapter__logo">
              <img src="{% static 'imgs/intro/textLogo.png' %}" alt="">
          </div>
          <div class="chapter__title">Мероприятия</div>
      </div>
    </div>
    <div class="eventsTabs">
      <div class="eventsTabs__nav">
        <button class="eventsTabs__btn active" data-tab="tab1">Соревнования</button>
        <button class="eventsTabs__btn" data-tab="tab2">Мастер-классы</button>
        <button class="eventsTabs__btn" data-tab="tab3">Архив</button>
      </div>
    
      <div class="eventsTabs__content">
        <div class="eventsTabs__panel active" id="tab1">
          {% if competitions %}
            <div class="eventsTabs__tableWrapper">
              <table class="eventsTabs__table">
                <thead class="eventsTabs__thead">
                  <tr class="eventsTabs__tr">
                    <th class="eventsTabs__th th-date">Дата</th>
                    <th class="eventsTabs__th th-title">Название</th>
                    <th class="eventsTabs__th th-place">Место</th>
                    <th class="eventsTabs__th th-status">Статус</th>
                  </tr>
                </thead>
                <tbody class="eventsTabs__tbody">
                  {% for event in competitions %}
                  <tr class="eventsTabs__tr" data-url="{% url 'event_detail' event.id %}">
                    <td class="eventsTabs__td td-date">{{ event.date }}</td>
                    <td class="eventsTabs__td td-title">
                      <a href="{% url 'event_detail' event.id %}" class="eventsTabs__link">
                        {{ event.title }}
                      </a>
                    </td>
                    <td class="eventsTabs__td td-place">{{ event.address }}</td>
                    <td class="eventsTabs__td td-status">
                      {% if user.is_registered %}
                        <p>Зарегистрирован</p>
                      {% else %}
                          <p>Не зарегистрирован</p>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
            <div class="eventsTabs__noevents">
              <img src="{% static 'imgs/events/noevents.png' %}" alt="no events">
              <div>Информация появится, как только станет известно о соревнованиях</div>
            </div>
          {% endif %}
        </div>
    
        <div class="eventsTabs__panel" id="tab2">
          {% if masterclasses %}
            <div class="eventsTabs__tableWrapper">
              <table class="eventsTabs__table">
                <thead class="eventsTabs__thead">
                  <tr class="eventsTabs__tr">
                    <th class="eventsTabs__th th-date">Дата</th>
                    <th class="eventsTabs__th th-title">Название</th>
                    <th class="eventsTabs__th th-place">Место</th>
                    <th class="eventsTabs__th th-status">Статус</th>
                  </tr>
                </thead>
                <tbody class="eventsTabs__tbody">
                  {% for event in masterclasses %}
                  <tr class="eventsTabs__tr" data-url="{% url 'event_detail' event.id %}">
                    <td class="eventsTabs__td td-date">{{ event.date }}</td>
                    <td class="eventsTabs__td td-title">
                      <a href="{% url 'event_detail' event.id %}" class="eventsTabs__link">
                        {{ event.title }}
                      </a>
                    </td>
                    <td class="eventsTabs__td td-place">{{ event.address }}</td>
                    <td class="eventsTabs__td td-status">
                      {% if user.is_registered %}
                        <p>Зарегистрирован</p>
                      {% else %}
                          <p>Не зарегистрирован</p>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
            <div class="eventsTabs__noevents">
              <img src="{% static 'imgs/events/noevents.png' %}" alt="no events">
              <div>Информация появится, как только станет известно о мастер-классах</div>
            </div>
          {% endif %}
        </div>
    
        <div class="eventsTabs__panel" id="tab3">
          {% if archive %}
            <div class="eventsTabs__tableWrapper">
              <table class="eventsTabs__table">
                <thead class="eventsTabs__thead">
                  <tr class="eventsTabs__tr">
                    <th class="eventsTabs__th th-date">Дата</th>
                    <th class="eventsTabs__th th-title">Название</th>
                    <th class="eventsTabs__th th-place">Место</th>
                    <th class="eventsTabs__th th-status">Статус</th>
                  </tr>
                </thead>
                <tbody class="eventsTabs__tbody">
                  {% for event in archive %}
                  <tr class="eventsTabs__tr" data-url="{% url 'event_detail' event.id %}">
                    <td class="eventsTabs__td td-date">{{ event.date }}</td>
                    <td class="eventsTabs__td td-title">
                      <a href="{% url 'event_detail' event.id %}" class="eventsTabs__link">
                        {{ event.title }}
                      </a>
                    </td>
                    <td class="eventsTabs__td td-place">{{ event.address }}</td>
                    <td class="eventsTabs__td td-status">
                      {% if user.is_registered %}
                        <p>Зарегистрирован</p>
                      {% else %}
                          <p>Не зарегистрирован</p>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
            <div class="eventsTabs__noevents">
              <img src="{% static 'imgs/events/noevents.png' %}" alt="no events">
              <div>Информация появится, как только станет известно о мероприятиях</div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    
  </main>
  
{% include "footer.html" %}



  {% block extra_js %}
  <script>
    // Добавляем обработчик кликов только на строки с данными
    document.querySelectorAll('.eventsTabs__tr[data-url]').forEach(function(row) {
      row.addEventListener('click', function() {
        window.location.href = row.getAttribute('data-url');
      });
    });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
        const swiper = new Swiper('.team-slider', {
        slidesPerView: 3, 
        spaceBetween: 20, 
        centeredSlides: true, // Центрируем текущий слайд
          loop: true, 
          breakpoints: {
            992: {
                slidesPerView: 4, // Для планшетов
              },
            768: {
              slidesPerView: 3, // Для планшетов
            },
            480: {
              slidesPerView: 1, // Для мобильных
            },
          },
        });
      });
      document.addEventListener("DOMContentLoaded", () => {
        const burger = document.querySelector(".header__burger");
        const menu = document.querySelector(".header__menu");
        const menuClose = document.querySelector(".header__menu-close");
    
        burger.addEventListener("click", () => {
            menu.classList.add("active");
            document.body.style.overflowY = "hidden"
        });
    
        menuClose.addEventListener("click", () => {
            menu.classList.remove("active");
            document.body.style.overflowY = "auto"
        });
    
        // Закрытие меню при клике вне его
        document.addEventListener("click", (e) => {
            if (!menu.contains(e.target) && !burger.contains(e.target)) {
                menu.classList.remove("active");
            }
        });
    });
    
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const tabsBtns = document.querySelectorAll(".eventsTabs__btn");
      const tabsPanels = document.querySelectorAll(".eventsTabs__panel");

      tabsBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
          // Удаляем класс active со всех кнопок и панелей
          tabsBtns.forEach((b) => b.classList.remove("active"));
          tabsPanels.forEach((panel) => panel.classList.remove("active"));

          // Добавляем класс active на текущую кнопку и соответствующую панель
          btn.classList.add("active");
          document.querySelector(`#${btn.dataset.tab}`).classList.add("active");
        });
      });
    });

  </script>
  {% endblock %}
{% endblock %}