{% extends "base.html" %}
{% load static %}

{% block title %}WorkoutTime{% endblock %}

{% block content %}

{% include "header.html" %}

  <main>
    <div class="chapter">
      <div class="chapter__container container">
          <div class="chapter__logo">
              <img src="{% static 'imgs/intro/textLogo.png' %}" alt="">
          </div>
          <div class="chapter__title">Мероприятия</div>
      </div>
    </div>
    <div class="eventsTabs">
      <div class="eventsTabs__nav">
          <button class="eventsTabs__btn active" data-tab="tab1">Соревнования</button>
          <button class="eventsTabs__btn" data-tab="tab2">Мастер-классы</button>
          <button class="eventsTabs__btn" data-tab="tab3">Архив</button>
      </div>
  
      <div class="eventsTabs__content">
          <div class="eventsTabs__panel active" id="tab1">
              {% for event in competitions %}
                  <a href="{% url 'event_detail' event.id %}" class="eventsTabs__item">
                      <span class="eventsTabs__name">{{ event.title }}</span>
                      <span class="eventsTabs__date">{{ event.date }}</span>
                  </a>
              {% endfor %}
          </div>
          
          <div class="eventsTabs__panel" id="tab2">
              {% for event in masterclasses %}
                  <a href="{% url 'event_detail' event.id %}" class="eventsTabs__item">
                      <span class="eventsTabs__name">{{ event.title }}</span>
                      <span class="eventsTabs__date">{{ event.date }}</span>
                  </a>
              {% endfor %}
          </div>
  
          <div class="eventsTabs__panel" id="tab3">
              {% for event in archive %}
                  <a href="{% url 'event_detail' event.id %}" class="eventsTabs__item">
                      <span class="eventsTabs__name">{{ event.title }}</span>
                      <span class="eventsTabs__date">{{ event.date }}</span>
                  </a>
              {% endfor %}
          </div>
      </div>
  </div>
  </main>
  
{% include "footer.html" %}



  {% block extra_js %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
        const swiper = new Swiper('.team-slider', {
        slidesPerView: 3, 
        spaceBetween: 20, 
        centeredSlides: true, // Центрируем текущий слайд
          loop: true, 
          breakpoints: {
            992: {
                slidesPerView: 4, // Для планшетов
              },
            768: {
              slidesPerView: 3, // Для планшетов
            },
            480: {
              slidesPerView: 1, // Для мобильных
            },
          },
        });
      });
      document.addEventListener("DOMContentLoaded", () => {
        const burger = document.querySelector(".header__burger");
        const menu = document.querySelector(".header__menu");
        const menuClose = document.querySelector(".header__menu-close");
    
        burger.addEventListener("click", () => {
            menu.classList.add("active");
            document.body.style.overflowY = "hidden"
        });
    
        menuClose.addEventListener("click", () => {
            menu.classList.remove("active");
            document.body.style.overflowY = "auto"
        });
    
        // Закрытие меню при клике вне его
        document.addEventListener("click", (e) => {
            if (!menu.contains(e.target) && !burger.contains(e.target)) {
                menu.classList.remove("active");
            }
        });
    });
    
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const tabsBtns = document.querySelectorAll(".eventsTabs__btn");
      const tabsPanels = document.querySelectorAll(".eventsTabs__panel");

      tabsBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
          // Удаляем класс active со всех кнопок и панелей
          tabsBtns.forEach((b) => b.classList.remove("active"));
          tabsPanels.forEach((panel) => panel.classList.remove("active"));

          // Добавляем класс active на текущую кнопку и соответствующую панель
          btn.classList.add("active");
          document.querySelector(`#${btn.dataset.tab}`).classList.add("active");
        });
      });
    });

  </script>
  {% endblock %}
{% endblock %}