{% load static %}
<!DOCTYPE html>

<div class="footer">
    <div class="footer_container container">
      <div class="footer__items">
        <div class="footer__item">
          <div class="footer__lists">
            <div class="footer__list">
              <div class="footer__link">Информация</div>
              <div class="footer__link">Главная</div>
              <div class="footer__link">Команда</div>
              <div class="footer__link">Мероприятия</div>
              <div class="footer__link">Тренировки</div>
            </div>
            <div class="footer__list">
              <div class="footer__link">Социальные сети</div>
              <div class="footer__icons">
                <div class="footer__link "><img src="{% static 'imgs/footer/vk.svg' %}" alt=""></div>
              <div class="footer__link"><img src="{% static 'imgs/footer/tg.svg' %}" alt=""></div>
              <div class="footer__link"><img src="{% static 'imgs/footer/yt.svg' %}" alt=""></div>
              </div>
            </div>
            <div class="footer__list">
              <div class="footer__link">Связь с нами</div>
              <div class="footer__link">E-mail: workouttime@gmail.com</div>
            </div>
          </div>
        </div>
        <div class="footer__item">
          <div class="footer__logo">
            <img src="{% static 'imgs/footer/logo.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>  