{% load static %}

<footer class="footer">
    <div class="footer_container container">
        <div class="footer__items">
            <div class="footer__item">
                <div class="footer__lists">
                    <div class="footer__list">
                        <div class="footer__link">Информация</div>
                        <div class="footer__link"><a href="{% url 'index' %}">Главная</a></div>
                        <div class="footer__link"><a href="#">Команда</a></div>
                        <div class="footer__link"><a href="{% url 'events' %}">Мероприятия</a></div>
                        <div class="footer__link"><a href="#">Тренировки</a></div>
                    </div>
                    <div class="footer__list">
                        <div class="footer__link">Социальные сети</div>
                        <div class="footer__icons">
                            <div class="footer__link"><img src="{% static 'imgs/footer/vk.svg' %}" alt="VK"></div>
                            <div class="footer__link"><img src="{% static 'imgs/footer/tg.svg' %}" alt="Telegram"></div>
                            <div class="footer__link"><img src="{% static 'imgs/footer/yt.svg' %}" alt="YouTube"></div>
                        </div>
                    </div>
                    <div class="footer__list">
                        <div class="footer__link">Связь с нами</div>
                        <div class="footer__link">E-mail: workouttime@gmail.com</div>
                    </div>
                </div>
            </div>
            <div class="footer__item">
                <div class="footer__logo">
                    <img src="{% static 'imgs/footer/logo.png' %}" alt="Logo">
                </div>
            </div>
        </div>
    </div>
</footer>
