{% load static %}

<header class="header">
    <div class="header__items container">
        <div class="header__item">
            <div class="header__logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'imgs/header/logo.png' %}" alt="Logo">
                </a>  
            </div>
        </div>
        <div class="header__item">
            <div class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="header__menu">
                <div class="header__menu-close">&times;</div>
                <div class="header__list">
                    <div class="header__link"><a href="{% url 'events' %}">Мероприятия</a></div>
                    <div class="header__link"><a href="{% url 'sportgrounds' %}">Площадки</a></div>
                    <div class="header__link"><a href="{% url 'forum:thread_list' %}">Форум</a></div>
                    {% if request.user.is_authenticated %}
                        <div class="header__link">
                            <a href="{% url 'profile' %}">Профиль</a>
                        </div>
                        <div class="header__link">
                            <a class="header__notifications" href="{% url 'notifications' %}">
                                <div>Уведомления</div> {% if unread_notifications_count %}<span class="notification-count">{{ unread_notifications_count }}</span>{% endif %}
                            </a>                       
                         </div>
                        <div class="header__link">
                            <a href="{% url 'logout' %}">Выйти</a>
                        </div>
                    {% else %}
                        <div class="header__link">
                            <a href="{% url 'login' %}">Войти</a>
                        </div>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</header>
{% block extra_js %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const burger = document.querySelector(".header__burger");
            const menu = document.querySelector(".header__menu");
            const menuClose = document.querySelector(".header__menu-close");
        
            burger.addEventListener("click", () => {
                menu.classList.add("active");
                document.body.style.overflowY = "hidden"
            });
        
            menuClose.addEventListener("click", () => {
                menu.classList.remove("active");
                 document.body.style.overflowY = "auto"
            });
        
            // Закрытие меню при клике вне его
            document.addEventListener("click", (e) => {
                if (!menu.contains(e.target) && !burger.contains(e.target)) {
                    menu.classList.remove("active");
                }
            });
        });
    </script>
    {% endblock %}
