{% load static %}

{% block content %}

<header class="header">
    <div class="header__items container">
        <div class="header__item">
            <div class="header__logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'imgs/header/logo.png' %}" alt="">
                </a>  
            </div>
        </div>
        <div class="header__item">
            <div class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="header__menu">
                <div class="header__menu-close">&times;</div>
                <div class="header__list">
                    <div class="header__link">Главная</div>
                    <div class="header__link">Команда</div>
                    <div class="header__link">
                        <a href="{% url 'events' %}">Мероприятия</a>  
                    </div>
                    <div class="header__link">
                        <a href="{% url 'sportgrounds' %}">Площадки</a>  
                    </div>
                    <div class="header__link">
                        <a href="{% url 'profile' %}">Профиль</a>  
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
{% endblock %}
