{% load static %}

{% include "base.html" %}
{% include "header.html" %}
<!-- Стили для Slick Slider -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>

<!-- Скрипты для Slick Slider -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<body>
  
    <div class="main">
        <div class="chapter">
            <div class="profile__intro">
                <div class="chapter__logo">
                    <img src="{% static 'imgs/intro/textLogo.png' %}" alt="">
                </div>
            </div>
        </div>
        
        
        <div class="article">
            <div class="article__container container">
                <div class="article__items">
                    <div class="article__item">
                        <img src="{{ last_event.photo.url }}" alt="Фото мероприятия" class="article__img">
                    </div>
                    <div class="article__item last-child">
                        <div class="article__info">
                            <div class="article__title"> {{ last_event.title }}</div>
                            <div class="article__description-wrapper">
                                <div class="article__description">
                                    <div class="short-description">
                                        {{ last_event.description|safe|striptags|truncatewords:20 }}
                                    </div>
                                    <div class="full-description hidden">
                                        {{ last_event.description|safe }}
                                    </div>
                                    {% if last_event.show_read_more %}
                                        <button class="toggle-description" data-open="false">Читать далее</button>
                                    {% endif %}
    
                                </div>
                            </div>
                            <div class="article__date">Дата публикации: {{ last_event.date }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    
        {% include "footer.html" %}
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
          const toggleButtons = document.querySelectorAll(".toggle-description");
      
          toggleButtons.forEach(button => {
            button.addEventListener("click", () => {
              const description = button.closest(".article__description");
              const articleItem = button.closest(".article__item");
      
              description.classList.toggle("expanded");
              articleItem.classList.toggle("expanded");
      
              if (button.textContent.trim() === "Читать далее") {
                button.textContent = "Скрыть";
              } else {
                button.textContent = "Читать далее";
              }
            });
          });
        });
      </script>
</body>
</html>
