

{% load static %}
{% include "base.html" %}

{% block extra_js %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
{% endblock %}

{% include "header.html" %}

{% block content %}
    <div class="chapter">
        <div class="chapter__container ">
            <div class="chapter__logo">
                <img src="{% static 'imgs/intro/textLogo.png' %}" alt="">
            </div>
            <div class="chapter__title">Площадки</div>
        </div>
    </div>
    <div class="sportgroundMap">
    <div class="map__container container">
        <div class="sportgroundMap__map" id="map">

        </div>
    </div>
    </div>
    <div class="sportground">
    <div class="sportground__container">
        <div class="sportground__items">
            <div class="sportground__item">
                <div class="sportground-slider">
                    <div id="place-images">
                        <!-- Слайды будут добавляться динамически через JS -->
                    </div>
                </div>
            </div>
            <div class="sportground__item">
                <div class="sportground__title" id="place-title"></div>
                <div class="sportground__adress">
                    <div id="place-address"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include "footer.html" %}
    <script>
        ymaps.ready(init);
    
        function init() {
            var myMap = new ymaps.Map("map", {
                center: [51.74141771818707, 36.21209148479369], // Центр карты
                zoom: 15
            });
    
            // Загружаем данные через AJAX
            fetch('/get_sportgrounds_data/')
                .then(response => response.json())
                .then(groundsData => {
                    groundsData.forEach(function(ground, index) {
                        var placemark = new ymaps.Placemark([ground.latitude, ground.longitude], {
                            balloonContent: ground.name
                        });
    
                        placemark.events.add('click', function() {
                            selectGround(ground); // Обновляем данные в слайдере
                        });
    
                        myMap.geoObjects.add(placemark);
    
                        if (index === 0) {
                            selectGround(ground); // Устанавливаем данные первой площадки по умолчанию
                            myMap.setCenter([ground.latitude, ground.longitude]); // Центруем карту
                        }
                    });
                })
                .catch(error => console.error('Error fetching data:', error));
        }
    
        function selectGround(ground) {
            $("#place-title").text(ground.name);
            $("#place-address").text(ground.address);
    
            var slider = $('.sportground-slider');
    
            // Проверяем, инициализирован ли слайдер, и уничтожаем его перед обновлением
            if (slider.hasClass('slick-initialized')) {
                slider.slick('unslick').empty();
            } else {
                slider.empty();
            }
    
            // Добавляем новые изображения
            ground.images.forEach(function(imageUrl) {
                slider.append('<div><img src="' + imageUrl + '" alt="Image" class="slider-image"></div>');
            });
    
            // Дожидаемся загрузки всех изображений перед инициализацией слайдера
            var images = $(".slider-image");
            var loadedImages = 0;
    
            images.each(function() {
                var img = new Image();
                img.onload = function() {
                    loadedImages++;
                    if (loadedImages === images.length) {
                        // Все изображения загружены, инициализируем слайдер
                        initializeSlider(slider);
                    }
                };
                img.src = $(this).attr("src");
            });
    
            // Инициализация слайдера после загрузки всех изображений
            function initializeSlider(slider) {
                slider.slick({
                    infinite: true,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: true,
                    nextArrow: '<div class="slick-next"><img src="{% static "imgs/sportgrounds/arrowR.svg" %}" alt="Next"></div>',
                    prevArrow: '<div class="slick-prev"><img src="{% static "imgs/sportgrounds/arrowL.svg" %}" alt="Previous"></div>',
                    adaptiveHeight: true
                });
    
                // Обновляем слайдер, чтобы он корректно отобразил новые изображения
                slider.slick('refresh');
            }
        }
    </script>
    
{% endblock %}

