//<цвета>===============================================
$white: #ffffff;
$black: #000000;
$blue: #4A7CFC;
$card: #1d1d1d;
$gray: #8d8d8d;
$red: #D22E3A;
$border: #ffffff25;

$page-dark: #1d1d1d;
$page-light: #E8E8E8;

$fontFamily: "arial";
//<ПЕРЕМЕННЫЕ>=======================================================
$maxWidth: 1920px;
$md1: 1024.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;